.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 0;
  margin-bottom: 30px;
}

.filterControls {
  display: flex;
  gap: 40px;
  align-items: center;
}

.itemCount {
  font-weight: 700;
}

.toggleBtn {
  background: none;
  border: none;
  text-decoration: underline;
  color: #888;
  cursor: pointer;
  font-family: inherit;
}

.sortSelect {
  border: none;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.mainContent {
  display: flex;
  gap: 40px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
  flex: 1;
}

.productGrid.withSidebar {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .itemCount{
    display: none;
  }
}