.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.customizable {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
}

.section {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.subtext {
  font-size: 12px;
  color: #000;
  margin-top: 5px;
}